body{
    margin:  0;
    padding: 0;
    background-color: #7bce54;
    border: 0;
    font-family: Helvetica, futura, "'Courier New'", Arial, sans-serif;
}

#background{
    background-color: #7bce54;
    position: absolute;
    z-index: 0;
}
#background canvas{
    position: absolute;
    /*border: 1px solid black;*/
    left: 0;
    top: 50px;
}

.content, .content *{
    position: relative;
    z-index: 1;
}

#sidebar{
    float: right;
    width: 30%;
    background: #7bce54;
    position: relative;
    background-image: url('images/sider-bg.png');
    background-repeat: repeat;

}

#sidebar .shadow{
    background-image: url('images/shadow.png');
    background-repeat: repeat-y;
    width: 10px;
    position: absolute;
    left: -10px;
    top: 0;
}

head { height: 100%; }
body { min-height: 100%; }

.content #main{
    margin-top: 0.5em;
    width: 70%;
    float:right;
    text-align: left;
}

#writings{
    margin: 2em auto;
    font-size: 1.5em;
    width: 40em;
}

#writings p{
    color:white;
    text-shadow: 1px 2px 3px black;
}

#writings ul{
    color:white;
    text-shadow: 1px 1px 2px black;
}

#writings h1{
    text-align: center;
     color: #BBF599;
    text-shadow: 1px 3px 10px #153900;
    font-size: 2.1em;
}

#writings h2{
    text-align: left;
    padding-left: 1em;
    font-size: 1.5em;
    color: #BBF599;
    text-shadow: 1px 3px 7px #153900;
}
#writings h3{
    font-size: 1em;
    color: #BBF599;
    text-shadow: 1px 2px 3px #153900;
}

#writings p strong{
    color: #55E600;
}

#writings code{
    padding: 2px;
    text-shadow: 0 0 0;
    border: 1px inset #DDFACC;
    background-color: OldLace;
    color: #EB6933;
}

#writings ul span{
    width: 15em;
    display: inline-block;
}
