body{
    margin:  0;
    padding: 0;
    background-color: #7bce54;
    border: 0;
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif !important

}

#background{
    background-color: #7bce54;
    position: absolute;
    z-index: 0;
}
#background canvas{
    position: absolute;
    left: 0;
    top: 50px;
}

.content, .content *{
    position: relative;
    z-index: 1;
}

#sidebar{
    float: right;
    width: 30%;
    background: #7bce54;
    position: relative;
    background-image: url('images/sider-bg.png');
    background-repeat: repeat;

}

#sidebar .shadow{
    background-image: url('images/shadow.png');
    background-repeat: repeat-y;
    width: 10px;
    position: absolute;
    left: -10px;
    top: 0px;
}

head { height: 100%; }
body { min-height: 100%; }

.content #main{
    margin-top: 0.5em;
    width: 70%;
    float:right;
}
